{% extends "base.html" %}
{% block title %}Периодическое обучение{% endblock %}
{% load static %}
{% block content %}

  {% if messages %}
    {% for message in messages %}
      {{ message }} 
    {% endfor %}
  {% endif %}

	<form action="{% url 'pfilter' %}" method="GET">
    <select name="subdivision_name" required="True">
      <option value="">--------</option>
      {% for s in sub %}
        <option value="{{ s.id }}">{{ s.subdivision_name }}</option>
      {% endfor %}
    </select>
		<button type="submit">Найти</button>
	</form>
	{% for e in model %}
	<p>
		<a href="{% url 'peducation_detail_view' e.id %}">{{ e.user_name }}</a>
		{{ e.test_issueng_date }}
		{{ e.completion_date }}
		{{ e.percent_of_complete }}
	</p>
	{% endfor %}
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="" type="submit">Добавить</button>
	</form>
{% endblock %}