{% extends "base.html" %}
{% block title %}Список тестов{% endblock %}
{% block content %}
  
  {% if messages %}
    {% for message in messages %}
      {{ message }} 
    {% endfor %}
  {% endif %}

  {% for pm in poll_model %}
    <p>Название теста: <a href="{% url 'poll_detail' pm.id %}">{{ pm.poll_name }}</a></p>>
  {% endfor %}

<section class="poll">
  <form method="POST" enctype="multipart/form-data" class="poll__form">
    {% csrf_token %}
    <ul class="poll__list">
      <li class="poll__item"><input class="poll__input" type="text" name="poll_name" placeholder="Введите название теста"></li>
      <li class="poll__item"><input class="poll__input" type="text" name="question_1" placeholder="Введите вопрос"></li>
      <li class="poll__item"><input class="poll__checkbox" type="checkbox" name="is_right_answer_1_question_1"><input class="poll__input" type="text" name="answer_1_question_1" placeholder="Введите ответ"></li>
      <li class="poll__item"><input class="poll__checkbox" type="checkbox" name="is_right_answer_2_question_1"><input class="poll__input" type="text" name="answer_2_question_1" placeholder="Введите ответ"></li>
  
      <li class="poll__item"><input class="poll__input" type="text" name="question_2" placeholder="Введите вопрос"></li>
      <li class="poll__item"><input class="poll__checkbox" type="checkbox" name="is_right_answer_1_question_2"><input class="poll__input" type="text" name="answer_1_question_2" placeholder="Введите ответ"></li>
      <li class="poll__item"><input class="poll__checkbox" type="checkbox" name="is_right_answer_2_question_2"><input class="poll__input" type="text" name="answer_2_question_2" placeholder="Введите ответ"></li>
      <li class="poll__item"><input class="poll__checkbox" type="checkbox" name="is_right_answer_3_question_2"><input class="poll__input" type="text" name="answer_3_question_2" placeholder="Введите ответ"></li>
      <div class="poll__button-wrapper">
        <button onclick="out()" class="common-button poll__button" type="submit" name="poll">Добавить</button>
      </div>
    </ul>
  </form>
</section>
{% endblock %}